// Variables
$main-color: #020202;
$title-color: #a5b4fc;
$dark-purple: #884593;

// Mixin pour text-shadow avec mix()
@mixin title-shadow {
  //  text-shadow: 0.5rem 0.5rem mix($title-color, $dark-purple, 40%);
}

body {
    font-family: 'Times New Roman', Times, serif;
    font-size: 1em;
    background-color: $main-color;
    color: #f9f8ff;
    margin: 0;
    padding: 0;
}

header {
    background-color: #fff;
    padding: 20px 50px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__link {
        margin-left: 30px;
        color: #000;
        text-decoration: none;

        &--purple {
            color: $title-color;
        }
    }

    @media (max-width: 599px) {
        flex-direction: column;

        &__logo {
            display: none;
        }

        &__link {
            margin: 10px 0;
        }
    }
}

.intro {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 80%;
    margin: auto;
    padding: 80px;

    @media (max-width: 599px) {
        flex-direction: column;
        align-items: center;
        padding: 40px;
    }

    .intro__title {
        font-size: 3em;
        color: $title-color;
        font-family: 'Montserrat', sans-serif;
        @include title-shadow;
        margin-bottom: 15px;
    }

    .intro__content {
        font-size: 1.1em;
        margin-top: 10px;

        &--purple {
            color: $title-color;
        }
    }

    .intro__image {
        margin-left: 80px;
        width: 700px;
        @media (max-width: 599px) {
            margin-left: 0;
            margin-top: 30px;
            width: 100%;
        }
    }
}

.section {
    width: 80%;
    margin: 40px auto;
}

.project {
    margin-bottom: 20px;
}
